  html, body { height:100%; background-color: #ffffff;}
  body { margin:0; padding:0; overflow:hidden; }
  #flashContent { width:100%; height:100%; }
  body,td,th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;}

/* Set the color theme of the site */
.colorPurple {color: #640B43;}
.colorGray {color: #444;}
.colorRed {color: #8C0000;}
.textPurple {color: #9D009D;}
.brightRed {color: #F00;}
.colorWhite {color: #FFF;}
.button_text {
	font-size: 32px;
}
